<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>studentCalculator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6  col-sm-6 container justify-content-center-card">
            <h1 class="text-center">Calculate Credit</h1>
            <div class="card-body">
                <form th:action="@{/credits}" th:object="${credit}" method="post">
                    <div class="form-group">
                        <label>Student month of school</label>
                        <input type="number" name="month" th:field="*{month}"
                               class="form-control"
                               placeholder="Enter Student month">
                    </div>
                    <div class="form-group">
                        <label>Rate :</label>
                        <input type="number" name="ratio" th:field="*{ratio}"
                               class="form-control"
                               placeholder="Enter Student  ratio">
                    </div>


                    <div class=box-footer>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

</body>
</html>