<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
lang="en"
>
<head>
  <meta charset="UTF-8">
  <title>User Registered Data</title>
</head>
<body>
<div >
  <h1>Registered User Information</h1>
  <div>
    <p>Name: <strong th:field="*{user.fname}"></strong></p>
    <p>Lname: <strong th:field="*{user.lname}"></strong></p>
    <p>age: <strong th:field="*{user.age}"></strong></p>
    <p>education: <strong th:field="${user.education}"></strong></p>

  </div>
</div>
</body>
</html>